Graphical Playground Support <support@graphical-playground.com>
Graphical Playground Security Team <security@graphical-playground.com>
Graphical Playground Legal Team <legal@graphical-playground.com>

Mallory Scotton <mallory.scotton@graphical-playground.com> mallory-scotton <mallory.scotton@epitech.eu>
Nathan Fievet <nathan.fievet@graphical-playground.com> natan-fievet <nathan.fievet@epitech.eu>
Raphaël Ostier <raphael.ostier@graphical-playground.com> bombabobo <raphael.ostier@epitech.eu>
Hugo Cathelain <hugo.cathelain@graphical-playground.com> Hugo-Cathelain <hugo.cathelain@epitech.eu>
Ossan Msoili <ossan.msoili@graphical-playground.com> Omegalpha28 <ossan.msoili@epitech.eu>
